/*Обнуление*/
*, *::before, *::after {
	box-sizing: border-box;
	/* margin: 0;
	padding: 0; */
}
/*--------------------*/

body {
	font-family: Arial;
	font-style: 16px;
	line-height: normal;
	font-weight: 400;
}

.hero {
	width: 100%;
	min-height: 100vh;
	}

	.wrapper {
		max-width: 1024px;
		margin: 0 auto;
	}

	.list {
		display: flex;
		font-weight: wrap;
		justify-content: space-between;
		margin: 100px 0;
	}